---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout
	title="Jérémy Mordo - A propos" description="A propos de Jérémy Mordo">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="A propos"
				tagline=""
			>
				<img
					width="1553"
					height="873"
					src="/PortFolio/assets/about.png"
					alt=""
				/>
			</Hero>

			<section>
				<h2 class="section-title">Parcours</h2>
				<div class="content">
					<p style="text-align: justify">
						Suite à l'obtention de mon baccalauréat en filière scientifique (STI Génie Optique),
						j'ai choisi d'explorer le domaine paramédical pour contribuer à améliorer la qualité de vie
						des individus. Pendant une décennie en tant qu'Opticien Lunetier, j'ai développé des compétences
						transversales telles que la gestion des relations, le travail collaboratif et le maintien de la
						précision dans mon travail. Observant l'évolution rapide de ce secteur, j'ai ressenti le besoin
						d'explorer de nouvelles opportunités dans le domaine de l'informatique, et après une réflexion
						approfondie, je fus prêt à entreprendre une reconversion professionnelle dans ce domaine dynamique
						et en constante évolution.
					</p>
					<br>
					<p style="text-align: justify">
						En réaction à la crise sanitaire de 2020 et après le premier confinement, j'ai pris la décision
						de me lancer dans une transition professionnelle. Passionné par le domaine informatique depuis
						longtemps, j'ai opté pour une carrière de développeur web. J'ai débuté en autodidacte pour acquérir
						les fondamentaux du métier tels que HTML, CSS, et autres, puis j'ai cherché à me former de manière
						plus structurée avec le soutien de professionnels du secteur. Au cours de mes recherches, j'ai
						découvert la "Wild Code School" qui a accepté de m'accueillir en formation. J'ai ainsi suivi un
						programme intensif de 5 mois pour consolider mes bases et approfondir mes compétences en développement,
						notamment en apprenant le PHP et Symfony.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Expérience</h2>
				<div class="content">
					<p style="text-align: justify">
						Je suis convaincu que l'apprentissage est un processus continu et je m'efforce constamment
						de me former et d'élargir mes compétences dans divers domaines liés à ma profession. Je suis
						capable d'autonomie tout en appréciant la collaboration au sein d'une équipe bien organisée.
						Avec deux années d'expérience professionnelle solide dans le domaine du développement web,
						je suis désormais prêt à aborder de nouveaux défis avec détermination et expertise.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<p style="text-align: justify">
						<span style="text-decoration: underline;">Générales</span> : Autonome, déterminé,
						à l'écoute, travail en équipe, flexible, organisé, empathique, avisé, patient.
					</p>
					<p style="text-align: justify">
						<span style="text-decoration: underline;">Techniques</span> : PHP, Symfony, MySQL, Api Platform,
						PhpMyAdmin, Docker, Google Api, Github, Gitlab, HTML, CSS, TWIG
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Passe-temps</h2>
				<div class="content">
					<p>Jeux-vidéos, natation, océanographie</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
